@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 195 100% 98%;
    --secondary-foreground: 195 100% 98%;
    --popover-foreground: 195 85% 15%;
    --primary-foreground: 195 100% 98%;
    --accent-foreground: 195 100% 98%;
    --muted-foreground: 195 85% 15%;
    --card-foreground: 195 85% 15%;
    --destructive: 0 85% 55%;
    --background: 195 53% 90%;
    --foreground: 195 85% 15%;
    --secondary: 200 50% 50%;
    --popover: 195 53% 95%;
    --primary: 200 72% 40%;
    --border: 195 53% 80%;
    --accent: 180 70% 33%;
    --muted: 195 53% 70%;
    --input: 195 53% 51%;
    --card: 195 53% 85%;
    --ring: 195 85% 15%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}